extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box 

        h1 Jennifer Mendoza

        p Full Stack JavaScript Developer


        .about-bio

          p My name is Jennifer, and after years of studies in the field of accounting, I decided to take the plunge and pivot as a software engineer. I'm looking to accelerate my career in this line of work, hoping to lead my team of developers.


      .skills-contact-box.box
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 832-739-0961
          li j.mendo@gmail.com


        a.btn-link(href='https://www.linkedin.com/in/jmendo31/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/Jenndoza', target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back